.container {
  height: 100vh;
  width: 100vw;
  background: url("../img/bg.JPG") no-repeat;
  background-size: 100% 30rem;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  &__image {
    margin-top: 10rem;
    width: 70vh;
    &--img {
      width: 100%;
    }
  }
  &__content {
    margin-top: 13rem;
    width: 40vw;
    animation: animated 1s ease 1;

    &--title {
      font-size: 5rem;
      color: $black;
    }

    &--subtitle {
      font-size: 2.3rem;
      color: $blue;
      margin: 1rem 0;
    }

    &--paragraph {
      font-size: 1.3rem;
      color: $black;
      line-height: 1.8;
    }
    &--buttons {
      button {
        height: 4rem;
        width: 14rem;
        background: $blue;
        color: $black;
        border-radius: 5rem;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 2rem 0;
        border: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: $black;
          color: $blue;
        }
      }

      a:nth-child(2) button {
        margin-left: 2rem;
      }
    }
    &--icons {
      width: 15rem;
      display: flex;
      justify-content: space-between;
      a:link,
      a:visited {
        text-decoration: none;
        color: $black;
        font-size: 2.7rem;
        &:hover,
        &:active {
          color: $blue;
        }
      }
    }
  }
}
