.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 3rem;

  &__logo {
    img {
      height: 8rem;
    }
  }
  &__nav {
    .nav__list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &--link {
        margin: 0 3.6rem;
        a:link,
        a:visited {
          font-size: 2rem;
          text-decoration: none;
          color: $black;
          &:hover,
          &:active {
            color: $blue;
          }
        }
      }
    }
  }
}
