* {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f7f7f7; }

.header {
  width: 100%;
  position: fixed;
  background: #dfe9f7;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 1.5rem; }
  .header__btn {
    display: none; }
  .header__logo img {
    height: 10rem; }
  .header__nav.active {
    display: block;
    padding: 1.5rem;
    width: 30rem;
    position: absolute;
    top: 2rem;
    right: 10rem;
    border-radius: 2rem;
    background: #eee; }
  .header__nav.active .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1.5rem;
    justify-content: center;
    justify-items: center; }
  .header__nav .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .header__nav .nav__list--link {
      margin: 0 3.6rem; }
      .header__nav .nav__list--link a:link,
      .header__nav .nav__list--link a:visited {
        font-size: 2rem;
        text-decoration: none;
        color: #455a64; }
        .header__nav .nav__list--link a:link:hover, .header__nav .nav__list--link a:link:active,
        .header__nav .nav__list--link a:visited:hover,
        .header__nav .nav__list--link a:visited:active {
          color: #6893c8; }

.container {
  height: 100vh;
  width: 100vw;
  background: url("../img/bg.JPG") no-repeat;
  background-size: 100% 30rem;
  background-position: bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .container__image {
    margin-top: 10rem;
    width: 70vh; }
    .container__image--img {
      width: 100%; }
  .container__content {
    margin-top: 13rem;
    width: 40vw;
    animation: animated 1s ease 1; }
    .container__content--title {
      font-size: 5rem;
      color: #455a64; }
    .container__content--subtitle {
      font-size: 2.3rem;
      color: #6893c8;
      margin: 1rem 0; }
    .container__content--paragraph {
      font-size: 1.3rem;
      color: #455a64;
      line-height: 1.8; }
    .container__content--buttons button {
      height: 4rem;
      width: 14rem;
      background: #6893c8;
      color: #455a64;
      border-radius: 5rem;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 2rem 0;
      border: none;
      transition: all 0.2s ease-in-out; }
      .container__content--buttons button:hover {
        background: #455a64;
        color: #6893c8; }
    .container__content--buttons a:nth-child(2) button {
      margin-left: 2rem; }
    .container__content--icons {
      width: 15rem;
      display: flex;
      justify-content: space-between; }
      .container__content--icons a:link,
      .container__content--icons a:visited {
        text-decoration: none;
        color: #455a64;
        font-size: 2.7rem; }
        .container__content--icons a:link:hover, .container__content--icons a:link:active,
        .container__content--icons a:visited:hover,
        .container__content--icons a:visited:active {
          color: #6893c8; }

@keyframes animated {
  0% {
    transform: translateY(10rem); }
  100% {
    transform: translateY(0rem); } }

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: 100%; }
    .container__image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15rem;
      width: 100%;
      height: 50rem; }
      .container__image--img {
        width: 50%; }
    .container__content {
      margin-top: 0rem;
      padding: 0 5rem;
      margin-bottom: 15rem;
      width: 100%;
      animation: animated 1s ease 1; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%; }
  .header__btn {
    display: block;
    position: absolute;
    padding: 0rem 4rem;
    right: 0; }
    .header__btn i {
      font-size: 3.5rem;
      color: #6893c8; }
  .header__nav {
    display: none; }
  .container__image--img {
    width: 70%; }
  .container__content {
    padding: 0 3rem; } }

@media only screen and (max-width: 425px) {
  .header__nav.active {
    display: block;
    padding: 1.5rem;
    width: 15rem;
    position: absolute;
    top: 15rem;
    right: 4rem;
    border-radius: 2rem;
    background: #eee; }
  .header__nav.active .nav__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    justify-content: center;
    justify-items: right; }
    .header__nav.active .nav__list--link {
      margin: 0.5rem 1rem; }
  .container__image--img {
    width: 100%; }
  .container__content {
    margin-top: 0rem;
    padding: 0 1.5rem; }
    .container__content--buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .container__content--icons {
      padding-top: 1rem;
      width: 100%;
      align-items: center;
      justify-content: center; }
      .container__content--icons a {
        padding: 0 2rem; } }

@media only screen and (max-width: 325px) {
  .header__nav.active {
    display: block;
    padding: 1.5rem;
    width: 15rem;
    position: absolute;
    top: 15rem;
    right: 2rem;
    border-radius: 2rem;
    background: #eee; }
  .container__image--img {
    width: 100%; }
  .container__content {
    margin-top: 0rem;
    padding: 0 1.5rem; }
    .container__content--buttons {
      flex-direction: column; }
      .container__content--buttons button {
        width: 20rem; }
    .container__content a:nth-child(2) button {
      margin-left: 0rem; } }
